*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*-----------------------Header part---------------------------------*/
.header-container{
    height: 80vh;
    background-image: url('../assets/visayas-header-image.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
.text-container .text-title{
    font-size: 50px;
    font-weight: bold;
}
.sub-text{
    font-size: 30px;
}
.search-container input{
    width: 300px;
}
.hr{
    width: 20%;
    height: 5px;
    margin: 40px auto;
    background-color: rgb(236, 106, 59);
    border-radius: 20px;
}

/*--------------------------Card Container--------------------------------------*/
.card-container{
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.card-item{
    width: 500px;
    transition: .3s ease;
}
.card-content{
    position: relative;
}
.card-content img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.card-content .card-text{
    position: absolute;
    top: 185px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.473);
    border-radius: 10px;
    padding: 10px;
}
.card-title{
    font-size: 30px;
    letter-spacing: 3px;
}
.card-day{
    font-size: 15px;
    letter-spacing: 3px;
}
.card-text button{
    width: 200px;
    letter-spacing: 5px;
}

.card-content .price-tag{
    background-color: rgb(248, 90, 33);
    padding: 10px;
    width: 150px;
    font-size: 15px;
    border-radius: 3px;
    position: absolute;
    top: -25px;
    right: 170px;
}
.card-item:hover{
    box-shadow: 15px 15px 25px black;
    position: relative;
    top: -5px;
}
.modal-header .btn-close{
    width: 50px;
    text-align: right;
}


/*-----------------------Footer--------------------------------*/

footer{
    background-color: seagreen;
}
footer .icon-container{
    width: 50%;
    margin: 0 auto;
}
.icon-container{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.icon-container 
.icon-1 img,
.icon-2 img,
.icon-3 img{
    width: 50px;
    height: 50px;
}

/*-----------------------------499px Breakpoint-------------------------------------*/
@media (max-width: 499px){

    /*-------------Header---------------*/
    .text-container .text-title{
        font-size: 25px;
        font-weight: bold;
    }
    .sub-text{
        font-size: 18px;
    }
    .search-container input{
        width: 200px;
    }

    /*------------Card-------------*/
    .card-container{
        gap: 30px;
        padding: 10px 0;
        margin-bottom: 15px;
    }
    .card-item{
        width: 300px;
    }
    .card-content .card-text{
        position: absolute;
        top: 110px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.473);
        border-radius: 10px;
        padding: 0;
    }
    .card-content .price-tag{
        background-color: rgb(236, 106, 59);
        padding: 5px;
        width: 100px;
        font-size: 10px;
        border-radius: 3px;
        position: absolute;
        top: -15px;
        right: 100px;
    }
    .card-title{
        font-size: 20px;
        margin-bottom: 5px;
        letter-spacing: 1px;
    }
    .card-day{
        font-size: 10px;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }
    .card-text .btn-details{
        width: 100px;
        font-size: 10px;
        letter-spacing: 1px;
    }

    /*--------------Footer--------------------*/
    .icon-container 
    .icon-1 img,
    .icon-2 img,
    .icon-3 img{
        width: 35px;
        height: 35px;
    }

}